### C++ ###
# Compiled Object files
*.slo
*.lo
*.o

# Comment this line if you want to version Wavefront .obj files.
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Editors --------------------------------------------------------------------

### Emacs ###
# -*- mode: gitignore; -*-

\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

build/
dist/
oc1_source/build/
oc1_source/data/
oc1_source/oc1.log
sklearn_oblique_tree.egg-info/
sklearn_oblique_tree/__pycache__/
